@{
    ViewBag.Title = "O nas";
}

<div class="row">
    <div class="col text-light">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Strona powstała w celu nauki ASP.NET MVC</p>
     </div>
</div>
