@{
    ViewBag.Title = "Kontakt";
}

<div class="row">
    <div class="col text-light">

        <h2>@ViewBag.Title.</h2>
        

        <address>
            ...
        </address>

        <address>
            <strong>Wsparcie:</strong>   <a href="mailto:wsparcie@bartoszkozak.aspnet.pl">Wsparcie@bartoszkozak.aspnet.pl</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@bartoszkozak.aspnet.pl">Marketing@bartoszkozak.aspnet.pl</a>
        </address>
    </div>
</div>